################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Components/LiveSplit.OriWotW.exe
/bin
/obj
/LiveSplit.OriWotW.csproj.user
/Components/OriWotW Manager.exe
/Components/OriWotW Console.exe
LiveSplit.OriWotW.csproj
